<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunstar.cloudseeds">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->


    <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/ClassicTheme.Transparent">
        <activity
            android:name=".MainActivity"
            android:theme="@style/ClassicThemeHasPreferenceCompatTheme" />
        <activity
            android:name=".logic.scan.ScanQrcodeActivity"
            android:theme="@style/ClassicTheme" />
        <activity android:name=".logic.usercenter.AboutActivity" />
        <activity android:name=".logic.usercenter.ChangePasswordActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/ClassicThemeSplashFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logic.guide.GuideActivity"
            android:theme="@style/ClassicTheme.Fullscreen" />
        <activity
            android:name=".logic.yuzhongtaizhang.YZTZActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".logic.xuanzhu.XuanZhuActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".logic.shangpinqi.SPQActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--android:label="@string/title_activity_login"-->
            <!--android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity
            android:name=".logic.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>